<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="#" class="font-weight-bold ml-1" target="_blank">Gdai-Jovenclub Las Tunas</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
      
        <li class="nav-item">
          <a href="https://www.facebook.com/Joven-Club-Las-Tunas-1473445202915860/?fref=ts" class="nav-link" target="_blank" placement="top-center"
           triggers="hover focus click" ngbTooltip="Siguenos en Facebook">
            <img src="assets/img/icon_facebook.png" alt="Facebook"></a>
        </li>
        <li class="nav-item mr-2 pr-2">
          <a href="https://twitter.com/jovenclub_tunas?lang=en" class="nav-link" target="_blank" placement="top-center" 
          triggers="hover focus click" ngbTooltip="Siguenos en Twitter" >
            <img src="assets/img/icon_twitter.png" alt="Facebook"></a>
        </li>     
      </ul>
    </div>
  </div>
</footer>
