.notif_count {
  position: absolute;
  top: -3px;

  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  border: none;
  outline: none;
  font-weight: inherit;
  left: 23px;
}
