<div class="main-content">
  <nav
    class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark mt--3"
  >
    <div class="container px-4 mr-auto">
      <a class="navbar-brand mt--5 mt-lg--2" routerLinkActive="active">
        <img src="assets/img/logos/logoblanco2.png" />
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon downloadapk"
            href="assets/apk/servicios.apk"
          >
            <i class="ni ni-cloud-download-95 text-white"></i>
            <span class="nav-link-inner text-white"> Apk</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon aut" (click)="autenticar()">
            <i class="ni ni-planet text-white"></i>
            <span class="nav-link-inner text-white"> Autenticarse</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Contenido-->
  <div class="header bg-gradient-info py-5 py-lg-3">
    <div class="mt-5 mb-4 text-center">
      <h2 class="text-white">Servicios Disponibles</h2>
    </div>
    <!--Municipios-->
    <form [formGroup]="_formMunicipe" class="f-muni">
      <div class="row align-items-center">
        <ng-container *ngIf="buscar">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Provincia:</label>
              <select
                class="form-control sele"
                #provinces
                formControlName="provincia"
                (change)="verMunicipios(provinces.value)"
              >
                <option value="">--</option>
                <option
                  *ngFor="let prov of _ProvMun"
                  value="{{ prov.provincia.id }}"
                >
                  {{ prov.provincia.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Municipio:</label>
              <select class="form-control sele" formControlName="municipe">
                <option value="">--</option>
                <option *ngFor="let mun of _municipes" value="{{ mun.id }}">
                  {{ mun.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col">
            <button
              class="btn btmuni"
              [disabled]="_formMunicipe.invalid"
              (click)="buscarFormMunicipe()"
              type="buscar"
            >
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="!buscar">
          <div class="col">
            <button
              class="btn btmuni"
              (click)="buscarFormMunicipe()"
              type="buscar"
            >
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>
      </div>
    </form>

    <!--Fin Municipios-->
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--5 mt-lg--4">
    <!-- Cards -->
    <ng-container *ngIf="servicios.length == 0 && !hayServ">
      <div class="card card-notfound">
        <img
          class="card-img-top imgserv"
          src="assets/servicios/nofound.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title"><strong>Upss</strong></h3>
          <p class="card-text">No hay servicios disponibles</p>
        </div>

        <div class="modal-footer">
          <a class="btn btn-primary" (click)="cargarServicios()">Recargar</a>
        </div>
      </div>
    </ng-container>

    <!-- Cards -->
    <div class="row justify-content-center">
      <div class="card card-servicios" *ngFor="let item of servicios">
        <img
          class="card-img-top imgserv"
          src="{{ urlapi }}/service/picture/{{ item.picture }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title">
            <strong>{{ item.name }}</strong>
          </h3>
          <p class="card-text">{{ item.summary }}</p>
        </div>
        <div class="modal-footer">
          <a
            class="btn btn-primary"
            data-toggle="modal"
            (click)="mostrarServicio(item); open(content)"
            data-target="#myModal"
            >Mas</a
          >
        </div>
      </div>

      <!--Card end-->

      <!--Descripcion por Serivicios-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h3 class="modal-title" id="mymodal">{{ _servicio.name }}</h3>
          <button
            type="button"
            class="close"
            #close
            (click)="modal.dismiss()"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <h5>Precio - Natural:</h5>
          <p>{{ _servicio.price }}</p>
          <h5>Precio - Empresas:</h5>
          <p>{{ _servicio.enterprisePrice }}</p>
          <hr />
          <h5>Descripcion:</h5>
          <p>{{ _servicio.description }}</p>
        </div>
        <hr />

        <div class="modal-footer">
          <ng-container *ngIf="!isLoged || isEmployee">
            <span class="nologed"
              >Para Solicitar un servicio usted debe
              <a
                data-dismiss="modal"
                (click)="irLogin(); modal.dismiss()"
                class="text-blue"
                >Autenticarse</a
              >
              como cliente</span
            >
          </ng-container>
        </div>
      </ng-template>
      <!--End Descripcion-->
    </div>
  </div>
  <!--Fin de Contenido-->
</div>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }}
          <a href="#" class="font-weight-bold ml-1" target="_blank"
            >Gdai-Jovenclub Las Tunas</a
          >
        </div>
      </div>
      <div class="col-xl-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-xl-end"
        >
          <li class="nav-item">
            <a
              href="https://www.facebook.com/Joven-Club-Las-Tunas-1473445202915860/?fref=ts"
              class="nav-link"
              target="_blank"
              placement="top-center"
              triggers="hover focus click"
              ngbTooltip="Siguenos en Facebook"
            >
              <img src="assets/img/icon_facebook.png" alt="Facebook"
            /></a>
          </li>
          <li class="nav-item mr-2 pr-2">
            <a
              href="https://twitter.com/jovenclub_tunas?lang=en"
              class="nav-link"
              target="_blank"
              placement="top-center"
              triggers="hover focus click"
              ngbTooltip="Siguenos en Twitter"
            >
              <img src="assets/img/icon_twitter.png" alt="Twitter"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
