//
// Avatar
//

// General styles

.avatar {
  color: $white;
  background-color: $gray-500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px !important;
  width: 48px !important;

  img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
  }

  + .avatar-content {
    display: inline-block;
    margin-left: 0.75rem;
  }
}

// Avatar size variations

.avatar-lg {
  width: 58px !important;
  height: 58px !important;
  font-size: $font-size-sm;
}

.avatar-sm {
  width: 36px !important;
  height: 36px !important;
  font-size: $font-size-sm;
}
