.cropimg{
    align-items: center;
}

.imgresul{
    width: 400px;
    height: 400px;
   
}

.imacrop{ max-width: 100%; width: 400px !important; height: 400px !important;
     background-color: #958a97; padding: 5px}